.cabeçalho_menu-hanburguer {
    width: 24xp;
    height: 24xp;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coteiner {
display: flex;
align-items: center;

}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
}